@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'RON' ;
  src: url("./assets/fonts/RON.ttf");
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/assets/fonts/SpaceGrotesk.ttf");
}
body{
  font-family: "SpaceGrotesk"
}
.bg-shape1 {
    border-radius: 100%;
    background-image: linear-gradient(45deg,#6a48c9,#6343ba);
    filter: blur(100px);

  }
  button{
    z-index: 2;
  }
  .bg-shape2 {
    border-radius: 100%;
    filter: blur(110px);
    background-image: linear-gradient(45deg,#6a48c9,#6343ba);
  }


.form{
  /* background: radial-gradient(circle at 10% 20%,#7344ffc4  10%, #6600cc 70%); */
}

.proPlusText{
  background-image: linear-gradient(90deg,rgb(240, 126, 255),rgb(128, 173, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.apexcharts-menu {
  background: #141414 !important;
  color: #fff;
  border:0.7px solid black !important
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link.active::after {
  width: 100%;
}
.proText{
  background-image: linear-gradient(90deg,rgb(126, 126, 255),rgb(249, 255, 128));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#pricing{
  background-size: cover;
  background-image: url("/public/saintaiBackground.jpeg");
  background-position: 52% -10%
}

.ant-pagination-item a {

  background-color: #000000 !important;
  /* border: 1px solid #fff !important;
  border-radius: 10px !important; */
  color: #fff !important;
}

.ant-pagination-item:hover a {
  color: #8e44ad !important;
  color: #fff !important;
}

.ant-pagination-item-active  {
  color: white !important;
    border: 1px solid #fff !important;
  /* border-radius: 50% !important; */
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #8e44ad !important;

}
.ant-pagination-item-link, .ant-pagination-next, .ant-pagination-next{
  color: wheat !important;
}
.ant-pagination-item-ellipsis{
  color: #fff;
}

